@font-face {
	font-family: 'Eurocine-Medium';
	src:url('Eurocine-Medium.eot');
	src:url('Eurocine-Medium.eot?#iefix') format('embedded-opentype'),  
		url('Eurocine-Medium.woff') format('woff'), 
		url('Eurocine-Medium.woff2') format('woff2'), 
		url('Eurocine-Medium.ttf')  format('truetype'), 
		url('Eurocine-Medium.svg#Eurocine-Medium') format('svg');
}

@font-face {
	font-family: 'Eurocine-Bold';
	src:url('Eurocine-Bold.eot');
	src:url('Eurocine-Bold.eot?#iefix') format('embedded-opentype'),  
		url('Eurocine-Bold.woff') format('woff'), 
		url('Eurocine-Bold.woff2') format('woff2'), 
		url('Eurocine-Bold.ttf')  format('truetype'), 
		url('Eurocine-Bold.svg#Eurocine-Bold') format('svg');
}